 <%= form_with(model: task) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
        <div class="mb-3">
            <%= f.label :content, 'タスク' %>
            <%= f.text_field :content %>
        </div>
        <div class="mb-3">
            <%= f.label :status, 'ステータス' %>
            <%= f.text_field :status %>
        </div>  

        <%= f.submit '投稿', class: 'btn btn-primary w-25' %>
      <% end %>
