<h1>タスク新規作成ページ</h1>

 <%= form_with(model: @task) do |f| %>
        <div class="mb-3">
            <%= f.label :content, '新規タスク' %>
            <%= f.text_field :content %>
        </div>
        <div class="mb-3">
            <%= f.label :status, 'ステータス' %>
            <%= f.text_field :status %>
        </div>  

        <%= f.submit '投稿', class: 'btn btn-primary w-100' %>
      <% end %>

<%= link_to '一覧に戻る', root_path %>